body{
    padding: 0;
    margin: 0;
}
nav{
    width: 100%;
    background: red;
    /* padding: 10px; */
}
nav>.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav>.container>.con{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
}
nav>.container>.cont>.logo{
    font-family: Arial, Helvetica, sans-serif;
}
nav>.container>.nav-links{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 10px;
}
nav>.container>.nav-links>.nav-link{
    list-style-type: none;
}
nav>.container>.nav-links>.nav-link>a{
    text-decoration: none;
    color: white;
}
nav>.container>.nav-links>.nav-link>a:hover{
    background: white;
    padding: 10px;
    transition: 0.7s;
    color: black;
    border-bottom: 3px solid black;
}
