.nv>a{
 margin: 5px;
}
.nv{
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
}
.bir>a{
    background:greenyellow;
    padding: 5px;
}